.Task {
  padding: 10px;
  display: flex;
}

.Task.bgWarning {
  color: rgb(54, 116, 4);
  display: flex;
}

.Task__index {
  text-decoration: underline;
  font-style: bold;
}

.Task__task {
  font-style: italic;
}
