html,
body {
  font-family: "Muli", sans-serif;

  background: rgb(110, 109, 18);
  height: 100%;
  line-height: 1;
}

img {
  text-align: center;
  height: 370px;
  width: 370px;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 20px;
  margin: 30px auto;
  color: #fff;
  flex: 1;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
  margin: 0px 0px 30px 0px;
}

.block {
  display: flex;
}
.block_side {
  flex: 0 0 300px;
  background-color: aliceblue;
}
.block_body {
  padding: 0px 0px 0px 30px;
  flex: 1 1 auto;
  min-width: 0;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider_image {
  text-align: center;
}

.image-slider_image img {
  max-width: 100%;
}

.image-slider .swiper-pagination-button {
  bottom: 0;
}

.image-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(100, 99, 99);
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
