@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

.color-text {
  color: rgb(218, 216, 216);
}

.blok {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  background: rgb(110, 109, 18);
  height: 20vh;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Muli", sans-serif;
  background: rgb(110, 109, 18);
}

img {
  text-align: center;
  height: 80vh;
  border: 3px solid #fff;
  border-radius: 20px;
  margin: 10px;
}

button {
  background-color: rgb(16, 94, 2);
  text-align: center;
  height: 5vh;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 10px;
  color: #fff;
}
